body {
    background-image:url('https://giffiles.alphacoders.com/218/218939.gif');
    background-position: center;
    background-size: cover;
}
body h1 {
    color: white;
}
body h2 {
    color: red;
}
body h3 {
    color: yellow;
}
