body {
    background-image:url('https://i.ytimg.com/vi/9FrYNRDxh5M/maxresdefault.jpg');
    background-position: center;
    background-size: cover;
}
body h1 {
    color: white;
    text-align: center;
}
body h2 {
    color: red;
    text-align: center;
}
body h3 {
    color: yellow;
    text-align: center;
}
body a {
    text-align: center;
}
